<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        #fs{
            float : center;
            width : 600px;
            border : thinsolid#000000;
        }
    </style>
</head>

<body>
    <form action="artistterms" method="POST">
        <center>
            <fieldset id="fs">
                <table border=0>
                    <tr>

                    <tittle><center><h2><b><u><font color="grey">TATTOO/ARTIST</font></u></b></center></tittle>    

                    <tr><td><h3><font color="skyblue">Artist Id : </font></td><td><input type="text" name=name size=25 placeholder="Enter yout artist ID" width="20" height="20"</td></tr>
                    <br>

                    <tr><td><h3><font color="skyblue">Price : </font></td><td><input type="number" name=name size=25 placeholder="$$" width="20" height="20"</td></tr>
                    <br>

                    <tr><td><h3><font color="skyblue">Size : </font></td><td><input type="text" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>

                    <tr><td><h3><font color="skyblue">Booking For : </font></td><td><input type="datetime-local" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>

                    <tr><td><h3><font color="skyblue">Booking Period : </font></td><td><input type="text" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>

                    <tr><td><h3><font color="skyblue">Rush Requests : </font></td><td><input type="text" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>

                    <tr><td><h3><font color="skyblue">Creative Freedom : </font></td><td><input type="number" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                            
                    <tr><td><h3><font color="skyblue">Request Type : </font></td><td><input type="text" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>

                    <tr><td><h3><font color="skyblue">Coverup Requests : </font></td><td><input type="text" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                            
                    <tr><td><h3><font color="skyblue">Placement Photos : </font></td><td><input type="file" name=name size=25 width="20" height="20"</td></tr>
                    <br>                                            

                    <tr><td><h3><font color="skyblue">Visual References : </font></td><td><input type="number" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                            
                    <tr><td><h3><font color="skyblue">Reference of Other Art : </font></td><td><input type="text" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                        
                    <tr><td><h3><font color="skyblue">Draft Reviews : </font></td><td><input type="text" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                            
                    <tr><td><h3><font color="skyblue">Custom Design : </font></td><td><input type="text" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                            
                    <tr><td><h3><font color="skyblue">Venue Details : </font></td><td><input type="text" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                            
                    <tr><td><h3><font color="skyblue">Final Invoice Variation : </font></td><td><input type="number" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                            
                    <tr><td><h3><font color="skyblue">Revisions of Work : </font></td><td><input type="number" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                            
                    <tr><td><h3><font color="skyblue">Charges for Edit : </font></td><td><input type="number" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
    
                    <tr><td><h3><font color="skyblue">Cancellation Charges 72hrs : </font></td><td><input type="number" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                                
                    <tr><td><h3><font color="skyblue">Billing : </font></td><td><input type="number" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                                
                    <tr><td><h3><font color="skyblue">Cancellation Charges : </font></td><td><input type="text" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                                
                    <tr><td><h3><font color="skyblue">Free Text : </font></td><td><input type="textbox" name=name size=25 placeholder="" width="20" height="20"</td></tr>
                    <br>
                        
                    <tr><td><center><font color="skyblue">

                    <input type=reset value="reset to defaults" name="reset"></font></center>

                    <td><center><font color="skyblue"><input type=submit value=save name="save"></font></center></td></td></tr>
                    
                </table>
            </fieldset>
        </center>
    </form>
</html>